{
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint"],
    "rules": {
      "@typescript-eslint/semi": ["error", "always"],
      "@typescript-eslint/indent":["error", 2],
      "@typescript-eslint/quotes": ["warn", "double", {"avoidEscape": true}],
      "no-multiple-empty-lines": ["warn"],
      "eol-last": ["error", "always"]
    }
  }
